<div class="grid-container">
  <div class="center-filter">
    <mat-form-field class="center-filter__filter">
      <mat-label>Filter</mat-label>
      <input matInput type="text" matInput [formControl]="filter" />
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="applyFilter()">
      Search
    </button>
  </div>
  <mat-grid-list
    *ngIf="(heros | async)?.length; else notHeros"
    cols="2"
    rowHeight="330px"
  >
    <mat-grid-tile
      *ngFor="let hero of heros | async"
      [colspan]="1"
      [rowspan]="1"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              {{ hero.name | uppercase }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ hero.power }}
            </mat-card-subtitle>
            <img
              mat-card-md-image
              src="{{ getImageSuperhero(hero.name) }}"
              alt="{{ hero.name }}"
            />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-chip class="selected-chip">Enemy: {{ hero.enemy }}</mat-chip>

          <p>{{ hero.description }}</p>
        </mat-card-content>
        <mat-divider class="margin-divider"></mat-divider>
        <mat-card-actions align="end">
          <app-management-buttons
            (delete)="openDialogDelete($event, hero.id, hero.name)"
            (edit)="editHero($event, hero.id)"
          ></app-management-buttons>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<ng-template #notHeros><h2>NO hay superheros</h2></ng-template>
