<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile
      *ngFor="let hero of heros | async"
      [colspan]="1"
      [rowspan]="1"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ hero.name }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ hero.power }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-chip-listbox class="mat-chip-edit-input">
            <mat-chip-option selected disabled color="warn"
              >Enemy: {{ hero.enemy }}</mat-chip-option
            >
          </mat-chip-listbox>
          <p>{{ hero.description }}</p>
        </mat-card-content>
        <mat-divider class="margin-divider"></mat-divider>
        <mat-card-actions class="button-separation" align="end">
          <button
            mat-stroked-button
            routerLink="/hero/{{ hero.id }}"
            color="primary"
          >
            Edit
          </button>

          <button mat-stroked-button color="warn">Delete</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
