.selected-chip {
  background-color: #f44336 !important;
}
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}
.margin-divider {
  margin-top: 15px;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.button-separation .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
