.margin-card {
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}
.description-width {
  width: 100%;
}
.center-text {
  text-align: center;
  flex: auto;
  margin-bottom: 0px;
}
