<app-loader></app-loader>
<mat-card class="margin-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ hero.name }}</mat-card-title>
      <mat-card-subtitle>ID: {{ hero.id }}</mat-card-subtitle>
      <img
        mat-card-md-image
        src="{{ getImageSuperhero(hero.name) }}"
        alt="{{ hero.name }}"
      />
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <p>{{ hero.description }}</p>
    <p>Power: {{ hero.power }}</p>
    <p>Enemy: {{ hero.enemy }}</p>
  </mat-card-content>
</mat-card>
